<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Crack_IT_System.Properties.Settings.SRV_Crack_IT_ConnString"
            connectionString="server=serwer2458228.home.pl;port=3380;database=38124464_crack_it;uid=38124464_crack_it;pwd=3mXjfdkR;" />
    </connectionStrings>
</configuration>